<% layout("/layouts/boilerplate") %>
<body>
    <div class="row" mt-3>
        <div class="col-8 offset-2">
            <h3>Create a New Listings</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input 
                        type="text"
                        name="listing[title]"
                        placeholder="Add a catchy title"
                        class="form-control"
                        required
                    >
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter a catchy title</div>
                </div>
                
                <div class="mb-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea
                        name="listing[description]"
                        type="text"
                        class="form-control"
                        required
                    ></textarea>
                    <div class="valid-feedback">Description looks good!</div>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>

                <div class="mb-3">
                    <lable for="image" class="form-label">Upload Listing Image</lable>
                    <input
                        type="file"
                        name="listing[image]"
                        class="form-control"
                        required
                    >
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <lable for="price" class="form-label">Enter price</lable>
                        <input
                            name="listing[price]"
                            placeholder="Enter price"
                            class="form-control"
                            required
                        >
                        <div class="valid-feedback">Price looks good!</div>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <lable for="location" class="form-label">Enter location</lable>
                        <input
                            type="text"
                            name="listing[location]"
                            placeholder="Enter loaction"
                            class="form-control"
                            required
                        >
                        <div class="valid-feedback">Location looks good!</div>
                        <div class="invalid-feedback">Location name should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <lable for="country" class="form-label">Enter country</lable>
                    <input
                        type="text"
                        name="listing[country]"
                        placeholder="Enter country"
                        class="form-control"
                        required
                    >
                    <div class="valid-feedback">Country looks good!</div>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
                
                <button class="btn btn-dark add-btn mb-3">ADD</button>
            </form>
        </div>
    </div>
</body>